.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.not-found-image {
  width: 200px;
}
.not-found-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.not-found-heading {
  color: #64748b;
  font-size: 25px;
}
.not-found-para {
  color: #64748b;
}
